@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Poppins:ital,wght@0,500;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{
  --red: #d01c28;
  --gray: #2e2e2e;
}

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
}